.footer {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: white;
  padding-bottom: 24px;
  max-width: 194px;
  line-height: 1.14;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 194px;
    font-size: 14px;
  }
}
@media screen and (max-width: 544) {
  .footer {
    line-height: 1;
  }
}
