.header {
  padding-top: 34px;
  display: flex;
  justify-content: center;
}
.header__logo {
  max-width: 254.89px;
  max-height: 68.94px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 0 0;
  }
  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }
}
@media screen and (max-width: 544px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    max-width: 188px;
    max-height: 52px;
  }
}
