.intro {
  max-width: 984px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
}
.intro__subtitle {
  font-size: 56px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.07;
  margin: 0;
  max-width: 830px;
}
.intro__paragraph_text {
  max-width: 738px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.41;
  margin: 40px 0 10px;
  padding: 0;
  text-align: left;
}
.intro__paragraph_name {
  max-width: 732px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.34;
  margin: 0;
  position: relative;
  right: -6px;
  text-align: right;
}
.intro__paragraph_text-small {
  max-width: 722px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.63;
  margin: 32px 0 92px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .intro {
    margin: 90px 24px 0;
    max-width: 720px;
  }
  .intro__subtitle {
    max-width: 707px;
    font-size: 45px;
    line-height: 1.08;
  }
  .intro__paragraph_tex {
    max-width: 720px;
    line-height: 1.41;
    font-size: 24px;
    margin: 50px 0 10px;
  }
  .intro__paragraph_name {
    max-width: 720px;
  }
  .intro__paragraph_text-small {
    margin: 32px 0 88px;
    max-width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    margin: 64px 16px 0;
    max-width: 720px;
  }
  .intro__subtitle {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
  .intro__paragraph_tex {
    max-width: 288px;
    line-height: 1.25;
    font-size: 24px;
    margin: 40px 0 10px;
  }
  .intro__paragraph_name {
    max-width: 288px;
  }
  .intro__paragraph_text-small {
    margin: 32px 0 64px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.63;
  }
}
