.content {
  max-width: 984px;
  margin: 0 auto;
}
.lead {
  padding-top: 91.06px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
}
.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  margin: 0 auto;
  line-height: 1.04;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
.lead__subtitle {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 32px;
  font-size: 30px;
}
.lead__image {
  object-fit: cover;
  margin: auto;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 90px;
  }
  .lead__title {
    font-size: 75px;

    max-width: 530px;

    line-height: 1.04;
  }
  .lead__subtitle {
    padding-top: 25px;
  }
}
@media screen and (max-width: 544px) {
  .lead {
    padding-top: 50px;
  }
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    max-width: 228px;
    font-size: 16px;
    line-height: 1.25;
  }
}
