.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 16px 16px;
  margin: 118px auto 92px;
}
.photo-grid__item {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: 90px auto 64px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .photo-grid {
    margin: 38px auto 62px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
  }
}
