.places {
  max-width: 987px;
  gap: 80px;
  margin: 0 auto 90px;
  display: flex;
  flex-direction: column;
}
.places__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 152px repeat(3, 1fr) 48px;
  grid-gap: 40px;
}
.places__title {
  font-size: 72px;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: calc(76 / 72);
  max-width: 460px;
  height: 100%;
  grid-column: 1/4;
  margin: 0;
}
.places__image {
  max-width: 460px;
  max-height: 460px;
  grid-column: 1/4;
  grid-row: 2/5;
}
.places__image-item {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}
.places__button {
  background: linear-gradient(to right, #0278fe, #003a7b);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  grid-row: 5;
  grid-column: 1/3;
  text-align: center;
  padding: 13px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.places__website {
  padding-top: 85px;
  grid-column: 4/7;
  text-decoration: none;
  grid-row: 1;
  font-family: "Inter", sans-serif;
  max-width: 460px;
  color: white;
  font-size: 18px;
}
.places__website-heading {
  font-weight: normal;
  font-size: 12px;
  color: #aaaa;
  margin-bottom: 8px;
  letter-spacing: 1.5px;
}
.places__website-link {
  margin: 0;
  line-height: 22px;
}
.places__paragraph {
  color: white;
  max-width: 484px;
  grid-column: 4/7;
  grid-row: 2/5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  font-weight: normal;
  margin: 0;
}
.places__paragraph-textone {
  padding-bottom: 25px;
}
